.form{
    margin-top: 5vh;
    padding: 20px;
    background: #A3B18A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid #588157;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-left: 5vw;
    box-shadow: 4px 4px var(--main-color);
    height: 70vh;
}

.title {
    color: var(--main-color);
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 25px;
}

.input {
    width: 23vw;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--font-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 10px;
    outline: none;
}

#tresc{
    width: 23vw;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--font-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 10px;
    outline: none;    
}
  
.button-confirm {
    margin: 40px auto 0 0;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: #344E41;
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}



@media (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .left-column, .right-column{
        width: 100%;
        margin: 0;
        display: contents;
    }

    .form {
        margin-left: 20vw;
        margin-right: 20vw;
        padding-left: 5vw;
      }

    .input {
        width: 40vw;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        padding: 5px 5px;
    }
    
    #tresc{
        width: 40vw;
        font-size: 15px;
        font-weight: 600;
        padding: 5px 10px;
    }
}